.ci
.dockerignore
.editorconfig
.git
.gitignore
.gitmodules
.vscode
.idea
docker-compose*.yml
Dockerfile
Makefile
README.md
client
demo/db.sql
opbeans/static/build
**/__pycache__
celerybeat-schedule
tests
bats
target
