elastic-apm
amqp==2.2.2
appnope==0.1.0
billiard==3.5.0.3
celery==4.1.0
certifi==2017.11.5
decorator==4.0.11
dj-database-url==0.4.2
Django==1.11.3
django-redis==4.8.0
gunicorn==19.7.1
honcho==1.0.1
ipython==6.1.0
ipython-genutils==0.2.0
jedi==0.10.2
kombu==4.1.0
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.14
psycopg2==2.7.1
ptyprocess==0.5.2
Pygments==2.2.0
pytz==2017.3
redis==2.10.6
simplegeneric==0.8.1
six==1.10.0
traitlets==4.3.2
urllib3==1.22
vine==1.1.4
wcwidth==0.1.7
whitenoise==3.3.0
