django==5.0.2
amqp==5.2.0
celery==5.3.6
future==0.18.3
certifi
dj-database-url==2.1.0
django-redis==5.4.0
elastic-apm==6.20.0
elasticsearch==8.12.1
elasticsearch-dsl==8.12.0
elastic-transport==8.12.0
gunicorn==21.2.0
honcho==1.1.0
kombu==5.3.5
psycopg2-binary==2.9.9
pytz
redis==5.0.1
urllib3==1.26.18
vine==5.1.0
whitenoise==6.6.0
requests==2.31.0
structlog==24.1.0
colorama==0.4.6
psutil==5.9.8
django-prometheus==2.3.1
prometheus-client==0.20.0
