django==5.0
amqp==5.2.0
celery==5.3.6
future==0.18.3
certifi
dj-database-url==2.1.0
django-redis==5.4.0
elastic-apm==6.19.0
elasticsearch==8.11.1
elasticsearch-dsl==8.11.0
elastic-transport==8.10.0
gunicorn==21.2.0
honcho==1.1.0
kombu==5.3.4
psycopg2-binary==2.9.9
pytz
redis==5.0.1
urllib3==1.26.18
vine==5.1.0
whitenoise==6.6.0
requests==2.31.0
structlog==23.3.0
colorama==0.4.6
psutil==5.9.6
django-prometheus==2.3.1
prometheus-client==0.19.0
